In [1]:
import findspark

In [2]:
findspark.init('/alvaroRprocessingEBS2/Tools/spark/spark-2.1.1-bin-hadoop2.7')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [6]:
df = spark.read.json("/alvaroRprocessingEBS2/githubRepos/Spark_and_Python_for_BD_with_PySpark/Course_Notes/Spark_DataFrames/people.json")

In [8]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [10]:
df.columns

['age', 'name']

In [11]:
# summary of the data.frame
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

Next is for when you want to specify the actual schema of your table.

In [12]:
from pyspark.sql.types import(StructField, StringType,
                                 IntegerType, StructType)

In [13]:
data_schema = [StructField("age", IntegerType(), True),
                  StructField("name", StringType(), True)]

In [14]:
final_struct = StructType(fields = data_schema)

In [15]:
df = spark.read.json("/alvaroRprocessingEBS2/githubRepos/Spark_and_Python_for_BD_with_PySpark/Course_Notes/Spark_DataFrames/people.json",
                    schema = final_struct)

In [16]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [17]:
type(df["age"])

pyspark.sql.column.Column

In [18]:
df.select("age").show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [19]:
df.select(["age", "name"]).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
df.withColumn("newAge", df["age"]).show()

+----+-------+------+
| age|   name|newAge|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [23]:
df.withColumnRenamed("age", "newAge").show()

+------+-------+
|newAge|   name|
+------+-------+
|  null|Michael|
|    30|   Andy|
|    19| Justin|
+------+-------+

In [29]:
# Can run mysql queries.
df.createOrReplaceTempView("people")
results = spark.sql("SELECT * FROM people WHERE age = 30")

In [30]:
type(results)

pyspark.sql.dataframe.DataFrame

In [31]:
results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

Continue: Spark DataFrame Basic Operations.