In [1]:
2+2

4

In [4]:
x = 52

In [5]:
x

52

In [7]:
strExamp = "chicken"

In [8]:
strExamp

'chicken'

This is markdown, cool way to write comments.

For the mehtods of an object, hit tab after the dot.

In [9]:
strExamp.capitalize()

'Chicken'

For function documentation, write the name of the function, and shift+tab.

To turn the cell into "Command Mode", hit esc. Cell becomes blue and grey.

Keyboard shortcuts: Go to Help menu. Also Markdown help there, for nice writing nice documentation.

In [12]:
type(1.5)

float

In [13]:
2**4

16

In [14]:
x = 1
y = 6
x + y

7

In [15]:
varNameStr = "Alvaro"
"My name is {}".format(varNameStr)

'My name is Alvaro'

In [17]:
varNameStr = "Erin"
varNumb = 10
"My name is {}, my number is {}".format(varNameStr, varNumb)

'My name is Erin, my number is 10'

In [18]:
"First:{first}, Second:{second}".format(first = 7, second = 12)

'First:7, Second:12'

Lists (or arrays): []

Important: they're ordered, can contain multiple types.

In [19]:
lstExamp = [3, 9, 18]

In [20]:
lstExamp

[3, 9, 18]

In [21]:
lstExamp2 = [2, "string", [1, 5]]

In [22]:
lstExamp2

[2, 'string', [1, 5]]

In [23]:
lstExamp2[2][0]

1

Dictionaries (or hash tables): {}

Importang: not ordered.

In [28]:
d = {"k1":8, "k2":"val2"}
d["k1"]

8

Tuples: ()

Important: you can't reassign values.

In [29]:
t = (6, 7, 0)
t[1]

7

In [30]:
t[1] = 12

TypeError: 'tuple' object does not support item assignment

Sets: {}

Important: automatically flattened to unique elements.

In [31]:
{2, 2, 3, 3, 3, 4, 5, 5, 5}

{2, 3, 4, 5}

Conditionals:

In [32]:
(1 != 0) and (3 > -1)

True

In [33]:
if (3 == 1):
    print("does not make sense")
elif (3 == 2):
    print("still does not make sense")
else:
    print("that makes sense")

that makes sense

In [34]:
seq = [1,2,3,6,7,8]
for item in seq:
    print(item)

1
2
3
6
7
8

In [35]:
for item in list(range(5)):
    print(item)

0
1
2
3
4

List comprehension:

In [36]:
[num**2 for num in list(range(5))]

[0, 1, 4, 9, 16]

Functions:

In [46]:
def appendStr(root, suffix):
    '''Appends inputs.'''
    return("{rt}{sfx}".format(rt = root, sfx = suffix))
    
fullName = appendStr("alvaro", "gonzalez")

In [47]:
fullName

'alvarogonzalez'

Continue Python Crash Course Exercises.